/** Header Section **/

.header {
  padding: 92px 50px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

/** Main Menu **/

.main-menu {
  align-self: center;
}

.main-menu-links-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.main-menu-links-list-item {
  list-style: circle;
}

.menu-link-non-bullet {
  list-style-type: none;
}

.menu-link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.menu-link-active {
  text-decoration: none;
}

/** Header Logo **/

.header-logo {
  width: 148px;
  margin: auto;
}

/** Header Contacts **/

.contacts {
  max-width: 240px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
}

.header-contacts {
  justify-self: end;
}

.contact-link {
  text-decoration: none;
  border-bottom: 1px solid #000;
  white-space: nowrap;
}